# {{ ansible_managed }}
DATA_DIR={{ honeypot_data_dir }}
COWRIE_TAG={{ cowrie_image_tag }}
COWRIE_SSH_PORT={{ cowrie_ssh_port }}
COWRIE_TELNET_PORT={{ cowrie_telnet_port }}
HTTP_PORT={{ http_honeypot_port }}
HTTP_TAG=local
