# {{ ansible_managed }}
# Reálné administrátorské SSH. Port 22 zůstává honeypotu (Cowrie).
Port {{ admin_ssh_port }}
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
X11Forwarding no
AllowAgentForwarding no
MaxAuthTries 3
LoginGraceTime 20
ClientAliveInterval 300
ClientAliveCountMax 2
